/* 顶部 */

body {
    background-color: #fff;
}

.mui-bar-nav {
    position: relative;
    padding: 0;
}

.mui-icon{
    color: #fff;
}
.mui-bar-nav.mui-bar .mui-icon {
    position: absolute;
    margin: 0;
    padding: 0;
}
.mui-icon-left {
    top: 10px;
    left: 10px;
}
.mui-icon-right {
    top: 10px;
    right: 10px;
}
.mui-bar-nav form {
    padding: 0 40px;
    width: 100%;
    line-height: 45px;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    height: 30px;
}


.mui-bar-nav~.mui-content {
    padding: 0;
}

.mui-content>.mui-table-view:first-child {
    margin: 0;
}


/* 主体 */
.mui-navigate-right:after, .mui-push-right:after {
    right: 0;
    content: '\e583';
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
}
.mui-table-view .mui-media-object {
    line-height: 57px;
    max-width: 57px;
    height: 57px;
}
.mui-media-body p {
    color: #666;
}

.mui-table-view-cell>a:not(.mui-btn) {
    white-space: normal;
    font-size: 15px;
}
.mui-left {
    float: left;
    margin-top: 6px;
    /* font-size: 18px; */
}
.mui-right {
    float: left;
    margin-left: 55px;
    margin-top: 2px;
}

/* 生成订单 */
.cart_order{
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #ccc;
    position: fixed;
    left: 0;
    bottom: 50px;
    background: #fff;
    width: 100%;
    z-index: 999;
    padding-left: 20px;
    font-size: 14px;
    color: #ff3300;
    font-weight: 600;
}
.cart_order a{
    width: 100px;
    text-align: center;
    background: #ff3300;
    display: block;
    float: right;
    color: #fff;
}

/* 底部 */
.mui-bar-tab .mui-tab-item:nth-child(3) {
    font-weight: 700;
    color: #ff8c00;
}
