/* 顶部 */
html,body{
    height:100%;
}
.mui-bar {
    background-color: #006699;
}
.mui-title {
    font-size: 20px;
    color: #fff;
}
.mui-icon-arrowleft {
    color: #fff;
}


/* 底部 */
.mui-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mui-bar-tab .mui-tab-item {
    color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #fff;
}
.mui-bar .mui-icon {
    font-size: 20px;
}
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
    font-size: 14px;
}

.mui-bar-tab .mui-tab-item:nth-child(1) {
    font-weight: 700;
    color: #ff8c00;
}


/* 底部 */
.lt-footer {
    background-color: #006699;
  }
  
  .lt-footer .mui-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
  }
  
  .lt-footer .mui-item.mui-active span {
    color: orange;
  }
  
  .lt-footer .mui-item.mui-active span:first-child {
    color: orange;
  }
  
  
  .lt-footer .mui-item span:first-child {
    color: #fff;
  }
  
  .lt-footer .mui-tab-label {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }

