body {
    background-color: #fff;
}
.mui-input-group {
    padding: 10px;
}
.mui-input-row {
    box-shadow: 0 0 1px #333;
}
.mui-input-row:nth-child(2) {
    margin: 20px 0 20px 0;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit] {
    font-size: 15px;
    width: 100%;
}
.mui-input-group .mui-input-row:after {
    background-color: transparent;
}
.mui-input-group:after {
    background-color: transparent;  
}
.mui-button-row:nth-child(4) {
    margin-top: 20px;
    padding: 0;
    font-size: 15px;
    text-align: right;
}
.mui-button-row:nth-child(4) input {
    width: 60%;
    float: left;
    box-shadow: 0 0 1px #333; 
}

.mui-button-row .btn_getCode {
    width: 35%;
    float: left;
    margin-left: 5%;
    height: 40px;
}

.mui-button-row:last-child {
    margin-top: 30px;
}